.video-preview{
    width: 300px;
}
.video-thumbnail{
    width:300px;
}.video-details{
    display: inline-block;
    width: 300px;
}
.video-dp{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video-dp img{
    width: 50px;
}
.video-text{
    display: inline-block;
    width: 200px;
}
.video-title{
    margin-top: 0;
}
.channel-name{
    margin-top: 10px;
}
.video-stats{
    margin-top: 5px;
}