.side-bar{
    display:flex;
    position: fixed;
    left: 0;
    top: 56px;
    flex-direction: column;
    flex-shrink: 0;
    bottom: 0;
    width: 72px;
    z-index: 3;
    padding-top: 5px;
}
.sidebar-items{
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    
}
.sidebar-items:hover{
    background-color: rgb(235,235,235);
}
.sidebar-items img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-items div{
    font-family: Roboto;
    font-size: 10px;
}