.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
    margin-top: 82px;
    margin-left: 100px
}
.video-thumbnail{
    position: relative;
}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    padding:2px 4px ;
    font-family: Roboto;
    border-radius: 2px;
}
.v-tn{
    width: 100%;
}
.video-details{
    display:grid;
    grid-template-columns: 50px 1fr;
    margin-top: 8px;
}

.video-dp{
    display: inline-block;
    width: 40px;
    vertical-align: top;
}
.video-dp img{
    width: 36px;
    border-radius: 18px;
}
.video-text{
    display: inline-block;
    width: 250px;
}

.video-title{
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 500;
}
.channel-name{
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    color:#606060;
}
.video-stats{
    font-size: 12px;
    font-weight: 400;
    color:#606060;
}
